@import '../../helpers/_size';

$clears: left, right, both;

@include generate-classes-for-viewport($clears, 'clear');

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/
.u-clearfix:after {
    clear: both !important;
    content: ' ';
    display: table !important;
}
