:root {
  --base-color: #8a1539;
  --base-text-color: white;
  --base-font-family: Open Sans, Arial;
  --base-corp-font-thin: "Qatar2022-Book";
  --base-corp-font-medium: "Qatar2022-Medium";
  --base-corp-font-bold: "Qatar2022-Bold";
  --base-font-size: 14px;
  --base-color-active-things: #ca9ba940;
  --base-color-hover-things: #8a153912;
  --base-color-secondary: #baa256;
}

body {
  font-family: var(--base-corp-font-medium), "Roboto", Arial, Helvetica, sans-serif;
}

/* ******* */
/* ******* */
h1 {
  font-size: 3.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }
}

h4 {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

p {
  font-size: 1.2rem;
  font-family: var(--base-corp-font-thin), "Roboto", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.8rem;
  }
}

a {
  color: #d6b563;
}

a:hover {
  color: var(--base-color);
}

.has-text-gold {
  color: #d6b563;
}

.btn {
  display: inline-block;
  background: url("../icon/button-white.png");
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  width: 210px;
  margin-top: 2rem;
}

.btn.gold {
  background: url("../icon/button-gold.png");
  width: 270px;
  color: #d6b563;
}

.btn.gold:hover {
  color: white;
}

@media screen and (min-width: 769px), print {
  .is-nowrap {
    white-space: nowrap;
  }
}

a.btn {
  color: black;
}

a.btn:hover {
  color: var(--base-color-secondary);
}

img.separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-black {
  background-color: #1a1a18;
}

.bg-gold {
  background-color: #d6b563;
}

/* ********************* 

NAV

********************* */
@media screen and (min-width: 769px), print {
  #main-nav .navbar-menu .navbar-start {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
  #main-nav .navbar-menu .navbar-start a.navbar-item {
    padding: 0 4em;
    -webkit-text-decoration: white solid underline;
            text-decoration: white solid underline;
    text-underline-offset: 0.7rem;
  }
  #main-nav .navbar-menu .navbar-start a.navbar-item:hover {
    color: #d6b563 !important;
    -webkit-text-decoration: #d6b563 solid underline;
            text-decoration: #d6b563 solid underline;
  }
}

/* ******* 

BANNER



** **** */
section.banner-image {
  padding: 10%;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), var(--image-url) center center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--image-url) center center;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 768px) {
  section.banner-image {
    padding: 7rem 2rem 5rem;
  }
}

section.banner-image article {
  max-width: 70rem;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.banner-image h3 {
  color: var(--base-color-secondary);
}

section.banner-image.top {
  padding: 17rem 2rem 15rem;
}

section.banner-image .copy {
  color: #eee;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 20px 5px 5px;
  width: 100%;
  text-align: right;
  font-size: 0.7em;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.banner-container {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner-container p {
    font-size: 1.2rem;
  }
}

.banner-container .banner-image {
  min-height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 768px) {
  .banner-container .banner-image {
    min-height: 250px;
  }
}

.banner-container .banner-image .copy {
  color: #eee;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 20px 5px 5px;
  width: 100%;
  text-align: right;
  font-size: 0.7em;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.banner-container .banner-text {
  position: relative;
  padding: 6rem 3.5rem;
}

@media screen and (max-width: 768px) {
  .banner-container .banner-text {
    padding: 2rem;
  }
}

.banner-container .banner-text::after {
  content: "";
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: white;
  border: white solid 10px;
  top: 50%;
  left: -25px;
  -webkit-transform: translate(0, -25px) rotate(45deg);
          transform: translate(0, -25px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .banner-container .banner-text::after {
    display: none;
  }
}

.banner-container .banner-text.series {
  padding: 3rem 5rem !important;
  background-color: #1d1d1b;
  color: white;
}

.banner-container .banner-text.series::after {
  background-color: #d6b563;
  border: #1d1d1b solid 10px;
}

.banner-container .banner-text.pearl {
  background-color: white;
  color: black;
}

.banner-container .banner-text.pearl::after {
  background-color: #d6b563;
  border: white solid 10px;
}

.banner-container .banner-text.private {
  background-color: #ece4d7;
  color: black;
}

.banner-container .banner-text.private::after {
  background-color: #d6b563;
  border: #ece4d7 solid 10px;
}

.banner-container .banner-text.business {
  background-color: white;
  color: black;
}

.banner-container .banner-text.business::after {
  background-color: #d6b563;
  border: white solid 10px;
}

.banner-container .banner-text.pavilion {
  background-color: #ece4d7;
  color: black;
}

.banner-container .banner-text.pavilion::after {
  background-color: #d6b563;
  border: #ece4d7 solid 10px;
}

.banner-container .banner-text.club {
  background-color: white;
  color: black;
}

.banner-container .banner-text.club::after {
  background-color: #d6b563;
  border: white solid 10px;
}

@media screen and (min-width: 769px), print {
  .banner-container.product .banner-image {
    width: 45%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media screen and (min-width: 769px), print {
  .banner-container.product .banner-text {
    width: 55%;
    padding: 3rem 2rem 3rem 0rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media screen and (min-width: 769px), print {
  .banner-container.series .banner-image {
    width: 55%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media screen and (min-width: 769px), print {
  .banner-container.series .banner-text {
    width: 45%;
    padding: 3rem 2rem 3rem 0rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.banner-container .stadium-icon {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-container .stadium-icon .img {
  margin-right: 1rem;
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.banner-container .stadium-icon .img img {
  max-height: 240px;
}

.banner-container .stadium-icon .text {
  text-align: left;
  font-size: 1rem;
}

.banner-container .stadium-icon .small {
  font-size: .8em;
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  .banner-container .stadium-icon {
    display: block;
  }
  .banner-container .stadium-icon .img {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  .banner-container .stadium-icon .text {
    text-align: justify;
    padding-right: 0;
    font-size: 1rem;
  }
}

.banner-container.is-reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.banner-container.is-reversed .banner-text::after {
  left: unset;
  right: -25px;
}

.banner-image.series .columns img {
  padding: 1em;
}

@media screen and (min-width: 769px), print {
  .banner-image.series .columns img {
    padding: 3rem;
  }
}

.banner-text.series img.small {
  max-width: 120px;
}

section.c-gallery .gallery img {
  padding: 1rem;
}

@media screen and (min-width: 769px), print {
  section.c-gallery .gallery img {
    padding: 1rem;
  }
}

.banner-cta {
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 769px), print {
  .banner-cta {
    padding: 2rem 7rem;
  }
}

.banner-cta .btn {
  margin-top: 0rem;
}

footer {
  margin-bottom: 0 !important;
}

footer .column {
  margin-bottom: 2rem;
}

footer p {
  font-size: 0.8rem;
}

footer h4 {
  font-size: 1rem;
  color: #d6b563;
}

footer .main-footer {
  padding-top: 4rem;
}

footer .main-footer .logo img {
  text-align: center;
  display: block;
  margin: auto;
}

footer .footer-note {
  border-top: 10px solid #d6b563;
  text-align: center;
  margin-bottom: 0;
}

.banner-bms .wrap img {
  width: 100%;
  display: block;
}

#contactForm {
  background-color: #1a1a18;
  color: white;
  padding-top: 2rem;
  padding-bottom: 5rem;
  font-family: var(--base-corp-font-thin), "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#contactForm .columns {
  max-width: 70rem;
  margin: auto;
}

#contactForm label {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: .5em;
}

#contactForm .text {
  border: solid 1px #b9a157;
  width: 80%;
  max-width: 800px;
  line-height: 2em;
  font-size: 1em;
  padding: 0 .5em;
}

#contactForm textarea {
  min-height: 200px;
}

#contactForm .submit {
  margin-top: .5em;
  padding-top: .3em;
  padding-bottom: .3em;
  background-color: #b9a157;
  color: white;
  font-size: 1.5em;
  width: 8em;
  font-family: var(--base-corp-font-medium), "Roboto", Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=custom.css.map */