@font-face {
  font-family: "Qatar2022-Book";
  src: url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Book.woff") format("woff"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Book.woff2") format("woff2"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Book.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qatar2022-Bold";
  src: url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Bold.woff") format("woff"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Bold.woff2") format("woff2"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Bold.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qatar2022-Medium";
  src: url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Medium.woff") format("woff"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Medium.woff2") format("woff2"), url("https://hospitality.fifa.com/css/fonts/Latin/Qatar2022-Medium.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=library.css.map */