/* BASE STYLING FOR CIRRUS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito+Sans:400,700");
* {
  margin: 0;
  padding: 0;
  /* Prevent setting borders from increasing the size of an elrement */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}

/* Nunito Sans for the font */
body {
  letter-spacing: 0.01rem;
  line-height: 1.8;
  /* Globally adjust line height */
  font-size: 1rem;
  font-weight: 400;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0.01rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  color: var(--cirrus-fg);
}

/* Remove bullets from unordered lists */
ul {
  list-style: none;
}

/* Setting up embedded content */
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

.hero.fullscreen video {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  width: 100%;
  z-index: -1;
}

iframe {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

label {
  display: inline-block;
  margin: 0.25rem 0;
}

fieldset {
  padding: 1rem;
}

fieldset legend {
  font-weight: bold;
}

[hidden] {
  display: none !important;
}

/* Selection Color */
::-moz-selection {
  background-color: var(--cirrus-select-bg);
}
::selection {
  background-color: var(--cirrus-select-bg);
}

/* When focusing any element */
:focus {
  -webkit-box-shadow: 0 0 0.1rem 0.15rem rgba(240, 61, 77, 0.13);
          box-shadow: 0 0 0.1rem 0.15rem rgba(240, 61, 77, 0.13);
  outline: none;
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* HEADER */
/* This works well with panel */
section {
  display: block;
}

.content {
  max-width: 60em;
  margin: 0 auto 1.5em;
  width: 80%;
}

.fullscreen {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}

/* Deprecated 0.5.6
// .panel {
//     padding: 2.5em 0;
// }

/* This works well with spans and maybe even hr */
.divider {
  border-top: 0.05rem solid rgba(173, 181, 189, 0.5);
  height: 0.1rem;
  margin: 1.8rem 0 1.6rem;
  position: relative;
}

.divider[data-content] {
  margin: 0.8rem 0;
}

.divider--v[data-content]::after, .divider[data-content]::after {
  background: #fff;
  color: #adb5bd;
  content: attr(data-content);
  left: 50%;
  display: inline-block;
  padding: 0 0.4rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.divider--v, .divider--v[data-content] {
  display: block;
  padding: 0.8rem;
}

.divider--v::before, .divider--v[data-content]::before {
  border-left: 0.05rem solid rgba(173, 181, 189, 0.5);
  bottom: 0.4rem;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.divider--v[data-content] {
  left: 50%;
  padding: 0.2rem 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Hero image div */
.hero-img {
  /* Specify the backgroud image yourself */
  background-size: cover;
}

.parallax-img {
  background-attachment: fixed !important;
}

.hero {
  /* Parent of hero-body */
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Important to stretch height of hero-body */
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero .hero-body {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  /* Tells the hero-body to take up the entire space */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.space {
  display: block;
  width: 100%;
  height: 1rem;
}

.space.large {
  padding: 1rem 0;
}

.space.xlarge {
  padding: 2rem 0;
}

/* Use for spacing out elements vertically */
.row {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* GRID */
  /* Auto align col to left in row */
  /* Auto align col to middle in row */
  /* Auto align col to right in row */
  /* Dividers for mobile layout */
  /* Base sizing where everything is 100% width */
  /* Column sizes for various viewports */
  /* Columns without the spacing */
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.row.row--no-wrap {
  /* Remove wrapping of the columns by default */
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* Can be disabled to remove scroll bar */
}

.row .col {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.15rem 0.75rem;
}

.row .offset-right {
  margin-left: 0;
  margin-right: auto;
}

.row .offset-center {
  margin-left: auto;
  margin-right: auto;
}

.row .offset-left {
  margin-left: auto;
  margin-right: 0;
}

.row.divided [class^='col'],
.row.divided [class*=' col'] {
  -webkit-box-shadow: 0 -1px 0 0 rgba(173, 181, 189, 0.5);
          box-shadow: 0 -1px 0 0 rgba(173, 181, 189, 0.5);
}

.row [class^='col-'],
.row [class*=' col-'] {
  width: 100%;
  margin-left: 0;
  padding: 0 0.5rem;
}

.row .col-xs-1 {
  width: 8.33333%;
}

.row .offset-1 {
  margin-left: 8.33333%;
}

.row .col-xs-2 {
  width: 16.66667%;
}

.row .offset-2 {
  margin-left: 16.66667%;
}

.row .col-xs-3 {
  width: 25%;
}

.row .offset-3 {
  margin-left: 25%;
}

.row .col-xs-4 {
  width: 33.33333%;
}

.row .offset-4 {
  margin-left: 33.33333%;
}

.row .col-xs-5 {
  width: 41.66667%;
}

.row .offset-5 {
  margin-left: 41.66667%;
}

.row .col-xs-6 {
  width: 50%;
}

.row .offset-6 {
  margin-left: 50%;
}

.row .col-xs-7 {
  width: 58.33333%;
}

.row .offset-7 {
  margin-left: 58.33333%;
}

.row .col-xs-8 {
  width: 66.66667%;
}

.row .offset-8 {
  margin-left: 66.66667%;
}

.row .col-xs-9 {
  width: 75%;
}

.row .offset-9 {
  margin-left: 75%;
}

.row .col-xs-10 {
  width: 83.33333%;
}

.row .offset-10 {
  margin-left: 83.33333%;
}

.row .col-xs-11 {
  width: 91.66667%;
}

.row .offset-11 {
  margin-left: 91.66667%;
}

.row .col-xs-12 {
  width: 100%;
}

.row .offset-12 {
  margin-left: 100%;
}

@media screen and (min-width: 640px) {
  .row .col-sm-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-3 {
    width: 25%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-6 {
    width: 50%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-9 {
    width: 75%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 640px) {
  .row .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-1,
  .row .col-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-2,
  .row .col-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-3,
  .row .col-3 {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-4,
  .row .col-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-5,
  .row .col-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-6,
  .row .col-6 {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-7,
  .row .col-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-8,
  .row .col-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-9,
  .row .col-9 {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-10,
  .row .col-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-11,
  .row .col-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 768px) {
  .row .col-md-12,
  .row .col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-3 {
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-6 {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-9 {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 1024px) {
  .row .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-3 {
    width: 25%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-6 {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-9 {
    width: 75%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 1280px) {
  .row .col-xl-12 {
    width: 100%;
  }
}

.row.no-space [class^='col-'],
.row.no-space [class*=' col-'] {
  padding: 0;
}

.r {
  /* Legacy row pre 0.5.5 */
  max-width: 100%;
  padding: 0.5rem;
}

/* Use in parent div of fluid col Deprecated in 0.5.6, use .row
.fluid-container {
    display: flex;
    overflow: auto;
}

/* Wrap controls instead on overflow 
.fluid-container.wrap {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Resizes elements in a row equally given the number of elements located in it 
.fluid-container .col-fluid {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

/* No expansion for specific col-fluid columns 
.fluid-container .col-fluid.no-flex {
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -ms-flex-negative: 0;
} */
/* Divider for multiple elements in a div */
/* .divided > .fluid-container:not(.row),
.divided > .row [class^="col-"], .divided > .row [class*=" col-"] { DEPRECATED 0.5.5
    box-shadow: -1px 0 0 0 rgba(34, 36, 38, 0.15);
} */
/* Remove border in first child */
/* .divided > .row [class^="col-"]:first-child,
.divided > .row [class*=" col-"]:first-child {
    box-shadow: none; DEPRECATED 0.5.5
} */
.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* Used to stretch the contents of div in level to fill */
}

.level .level-item {
  /* Centers items */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.level .level-content {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: left;
  width: 100%;
}

/* Width/Height CSS */
.w-10 {
  width: 10%;
}

.h-10 {
  height: 10%;
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.w-30 {
  width: 30%;
}

.h-30 {
  height: 30%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-60 {
  width: 60%;
}

.h-60 {
  height: 60%;
}

.w-70 {
  width: 70%;
}

.h-70 {
  height: 70%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.w-90 {
  width: 90%;
}

.h-90 {
  height: 90%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 768px) {
  .level,
  .level-left,
  .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .level-right {
    margin-left: 1rem;
  }
  /* Keep all level children the same height */
  .level.fill-height {
    -webkit-box-align: stretch;
    /* Box Align and align items to stretch to make nav-items fill up parent height */
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .row {
    margin-top: 0;
  }
  /* Dividers for mobile layout */
  .divided > .row [class^='col-'],
  .divided > .row [class*=' col-'] {
    -webkit-box-shadow: 0 -1px 0 0 rgba(34, 36, 38, 0.15);
            box-shadow: 0 -1px 0 0 rgba(34, 36, 38, 0.15);
  }
  .level.ignore-screen,
  .level-left.ignore-screen,
  .level-right.ignore-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .level.fill-height {
    display: inherit;
    /* Allow children to expand */
  }
  .hero-body {
    padding: 0;
  }
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/*
    Group selectors that share common styling.
*/
/* HEADER */
.header {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 2px;
  -webkit-box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
          box-shadow: 0 3px 15px rgba(57, 63, 72, 0.1);
  background-color: var(--cirrus-bg);
  max-height: 100vh;
  padding: 0 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --header-link-color: #495057;
  --header-link-color-hover: #606a73;
  /* Remove any padding set for headers in default.scss */
  /* Header dark theme */
  /* Add transition to nav menu when it drops down */
  /* The container that contains all the header menu components. Child of header */
  /* Static header at the top of the screen */
  /* Hover effect for header elements when appropriate */
}

.header h1 {
  margin: 0;
}

.header h2 {
  margin: 0;
}

.header h3 {
  margin: 0;
}

.header h4 {
  margin: 0;
}

.header h5 {
  margin: 0;
}

.header h6 {
  margin: 0;
}

.header a {
  color: var(--header-link-color);
}

.header a:hover {
  color: var(--header-link-color-hover);
}

.header.header-dark {
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  --header-link-color: #fff;
  --header-link-color-hover: #fff;
  /* Theme for dark menu */
}

.header.header-clear {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* Add border radius to whole menu with clear header */
}

.header.header-clear .nav-item .dropdown-menu {
  border-radius: 4px;
}

.header.header-animated .header-nav {
  -webkit-transition: background 0.4s ease, height 0.4s ease;
  transition: background 0.4s ease, height 0.4s ease;
  -webkit-transition-property: background, height;
  transition-property: background, height;
  -webkit-transition-duration: 0.4s, 0.4s;
  transition-duration: 0.4s, 0.4s;
  -webkit-transition-timing-function: ease, ease;
  transition-timing-function: ease, ease;
  -webkit-transition-delay: initial, initial;
  transition-delay: initial, initial;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .header-nav {
  /* Flex display 768px and higher */
  overflow: auto;
}

.header .header-brand {
  -webkit-overflow-scrolling: touch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 100vw;
  min-height: 3.25rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.header.header-fixed {
  position: fixed;
  top: 0;
  /* Change this if you want to float the header somewhere else */
}

.header:not(.header-clear) .nav-item:not(.no-hover):hover,
.header:not(.header-clear) .nav-item:not(.no-hover).hovered {
  background-color: rgba(216, 216, 216, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header:not(.header-clear) .nav-item.active,
.header:not(.header-clear) .nav-item.active:hover {
  background-color: rgba(216, 216, 216, 0.35);
}

.header .nav-btn {
  cursor: pointer;
  display: block;
  height: 3.5rem;
  position: relative;
  width: 3.5rem;
}

.header .btn, .header button, .header [type="submit"], .header [type="reset"], .header [type="button"] {
  margin: 0;
}

/* Styles for header menu (aka the nav bar) */
.nav-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-menu .has-sub {
  position: relative;
}

/* Allow the user to scroll through navbar items if it exceeds nav-left, nav-center, or nav-right widths */
.nav-overflow-x {
  -webkit-box-pack: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  overflow-x: scroll;
}

/* Wrapper to vertically center header items */
.nav-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 0.3rem;
  cursor: pointer;
  /* HEADER DROP DOWN MENU */
  /* Add room for the dropdown chevron pseudoelement */
}

.nav-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item .dropdown-menu {
  background-color: var(--cirrus-bg);
  position: absolute;
  top: 95%;
  /*right: 0; /* Unable to solve problem when we have multiple drop down menus */
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.1);
  /* Just add a transition in general */
}

.nav-item .dropdown-menu.dropdown-animated {
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
}

.nav-item .dropdown-menu > li > a {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
}

.nav-item .dropdown-menu > li {
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-item .dropdown-menu > li:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(216, 216, 216, 0.15);
}

.nav-item .dropdown-menu > li:active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(216, 216, 216, 0.25);
}

.nav-item .dropdown-menu > li:last-child {
  margin-bottom: 0;
}

.nav-item .dropdown-menu .dropdown-menu-divider {
  border: none;
  background-color: rgba(216, 216, 216, 0.15);
  height: 1px;
  margin: 0.5rem 0;
}

.nav-item.has-sub .nav-dropdown-link {
  padding-right: 2.5rem;
  position: relative;
  /* Needed for hiding glyphs in mobile header */
  /* Dropdown menu location adjustment located below for sizes above phones */
  /* Dropdown menu indicator */
}

.nav-item.has-sub .nav-dropdown-link::after {
  border: 2px solid var(--cirrus-primary);
  /* Must be first to create the triangle shape */
  border-right: 0;
  /* Create the triangle effect */
  border-top: 0;
  display: block;
  height: 0.5em;
  width: 0.5em;
  content: ' ';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  pointer-events: none;
  margin-top: -0.435em;
  right: 1.125em;
  top: 50%;
  position: absolute;
}

/* Dark dropdown menu theme */
.nav-item .dropdown-menu.dropdown-dark,
.header.header-dark .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.87);
  border: 1px solid #343a40;
  color: #fff;
}

.dropdown-menu.dropdown-shown,
.nav-item.active {
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .header {
    -webkit-box-align: stretch;
    /* Box Align and align items to stretch to make nav-items fill up parent height */
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    /* These styles can also be used on menus in the body */
    /* Align items to the left */
    /* Align items to the right */
    /* Centering items, best used when nav-brand is not used to prevent offset */
    /* Hide hamburger button */
    /* .nav-item {
        position: relative; /* Include for helping dropdown menu positioning  Deprecated 0.5.6
      } */
  }
  .header .header-nav {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* Make items fill up all available space regardless of width https://drafts.csswg.org/css-align/ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;
    overflow: visible;
    /* Only visible for showing dropdown menus, hidden for mobile */
  }
  .header .nav-left {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
    /* Align dropdown menu to the left side of the parent nav-item for header-left */
  }
  .header .nav-left .has-sub .dropdown-menu {
    left: 0;
    right: auto;
  }
  .header .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    white-space: nowrap;
    /* Align dropdown menu to the right side of the parent nav-item for header-right */
  }
  .header .nav-right .has-sub .dropdown-menu {
    left: auto;
    right: 0;
  }
  .header .nav-center {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav-btn {
    display: none;
  }
  .header .nav-item {
    /* Expand link area for desktop views so it is easier to click */
  }
  .header .nav-item a {
    padding: 0.5rem 1rem;
  }
  .header .nav-item .dropdown-menu {
    opacity: 0;
    pointer-events: none;
    /* Make cursor not respond to menu links when not displayed */
  }
  .header .nav-item .dropdown-menu.dropdown-animated {
    -webkit-transform: translateY(-5px);
    /* Used for transitional drop down effect */
    transform: translateY(-5px);
  }
  .header .nav-item .dropdown-menu.dropdown-shown,
  .header .nav-item.toggle-hover:hover .dropdown-menu,
  .header .nav-item .dropdown-menu.dropdown-animated.dropdown-shown {
    opacity: 1;
    -webkit-transform: none;
    /* Used for transitional drop down effect */
    transform: none;
    pointer-events: auto;
  }
}

@media screen and (max-width: 768px) {
  /* Add scrolling support in header */
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* Hide dropdown menu on mobile */
  }
  .header .header-brand .nav-item:first-child {
    padding: 0 1rem;
    /* Add padding to the first child, usually the logo */
  }
  .header .header-nav {
    height: 0;
    /* Show the dropdown */
    /* Make the menu items larger in the dropdown menu */
    /* Get rid of extra spaces */
  }
  .header .header-nav.active {
    height: 100vh;
  }
  .header .header-nav .nav-item {
    padding: 1rem;
  }
  .header .header-nav .nav-item > a {
    padding: 0;
    width: 100%;
    /* Stretch the link to span the entire list item */
  }
  /* Remove flex for mobile devices */
  .nav-item.has-sub {
    display: block;
  }
  .nav-item.has-sub .dropdown-menu {
    /* Hide the menu by default in mobile view (overflow on header-right can expose it) */
    display: none;
  }
  .nav-item.has-sub .dropdown-menu.dropdown-shown {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    position: relative;
    top: 1rem;
    float: none;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  .nav-item.has-sub .dropdown-menu.dropdown-dark {
    background-color: rgba(0, 0, 0, 0.17);
    border: 0;
  }
  /* Hamburger button */
  .nav-btn {
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    /* Hamburger button on active */
  }
  .nav-btn span {
    background-color: var(--header-link-color);
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    -webkit-transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, transform;
    transition-property: background, left, opacity, transform, -webkit-transform;
    width: 15px;
    /* Line spacing in hamburger button */
  }
  .nav-btn span:nth-child(1) {
    margin-top: -6px;
  }
  .nav-btn span:nth-child(2) {
    margin-top: -1px;
  }
  .nav-btn span:nth-child(3) {
    margin-top: 4px;
  }
  .nav-btn.active span:nth-child(1) {
    margin-left: -5px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: left top;
            transform-origin: left top;
  }
  .nav-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .nav-btn.active span:nth-child(3) {
    margin-left: -5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
  /* Hide drop down menu items */
  .nav-left,
  .nav-center,
  .nav-right {
    overflow: hidden;
  }
  /* No need for JS to show dropdown menu on mobile devices now */
  .header .nav-item.has-sub.toggle-hover:not(.no-hover):hover > .dropdown-menu {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    position: relative;
    top: 1rem;
    float: none;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
  }
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/*
    Global Mixins
*/
/*
    Group selectors that share common styling.
*/
/* BUTTONS */
/* Button styling */
/* Un-themed */
.btn, button, [type="submit"], [type="reset"], [type="button"] {
  line-height: 2rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
  background-color: var(--btn-color);
  border-color: var(--btn-border-color);
  color: var(--btn-fg);
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  font-family: Montserrat;
  min-width: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 1rem;
  outline: none;
  --btn-color: #f8f9fa;
  --btn-fg: #495057;
  --btn-border-color: #e9ecef;
  /* Base States */
  /* Loading Button*/
  /* Make the loading circle, if present, white when button is active */
  /* Animated Button */
  /* Close Button */
  /* BUTTON STYLES */
  /* Regular */
  /* Extra small button */
  /* Small button */
  /* Big button */
  /* STATES */
  /* GLYPHS */
  /* Alternatives to pad-left and pad-right */
}

.btn:hover, button:hover, [type="submit"]:hover, [type="reset"]:hover, [type="button"]:hover {
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
  --btn-color: #f1f3f5;
  color: var(--btn-fg);
}

.btn:active, button:active, [type="submit"]:active, [type="reset"]:active, [type="button"]:active {
  -webkit-transition: var(--animation-duration) ease;
  transition: var(--animation-duration) ease;
}

.btn:focus, button:focus, [type="submit"]:focus, [type="reset"]:focus, [type="button"]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type="submit"]:disabled, [type="reset"]:disabled, [type="button"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn:disabled:active, button:disabled:active, [type="submit"]:disabled:active, [type="reset"]:disabled:active, [type="button"]:disabled:active {
  pointer-events: none;
}

.btn.outline, button.outline, [type="submit"].outline, [type="reset"].outline, [type="button"].outline {
  --btn-color: transparent;
}

.btn.outline:hover, button.outline:hover, [type="submit"].outline:hover, [type="reset"].outline:hover, [type="button"].outline:hover {
  --btn-color: #e9ecef;
}

.btn.loading:active::after, button.loading:active::after, [type="submit"].loading:active::after, [type="reset"].loading:active::after, [type="button"].loading:active::after {
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  -webkit-transition: var(--animation-duration) ease;
  transition: var(--animation-duration) ease;
}

.btn.btn-animated, button.btn-animated, [type="submit"].btn-animated, [type="reset"].btn-animated, [type="button"].btn-animated {
  -webkit-transition: calc(var(--animation-duration) / 2) ease;
  transition: calc(var(--animation-duration) / 2) ease;
}

.btn.btn-animated:active, button.btn-animated:active, [type="submit"].btn-animated:active, [type="reset"].btn-animated:active, [type="button"].btn-animated:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: calc(var(--animation-duration) / 2) ease;
  transition: calc(var(--animation-duration) / 2) ease;
}

.btn.btn-close, button.btn-close, [type="submit"].btn-close, [type="reset"].btn-close, [type="button"].btn-close {
  background-color: rgba(10, 10, 10, 0.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 0;
  height: 20px;
  outline: 0;
  position: relative;
  vertical-align: top;
  width: 20px;
  padding: 0;
  min-width: 20px;
  /* Render the x in the close button */
}

.btn.btn-close:hover, button.btn-close:hover, [type="submit"].btn-close:hover, [type="reset"].btn-close:hover, [type="button"].btn-close:hover {
  background-color: rgba(10, 10, 10, 0.3);
}

.btn.btn-close::before, button.btn-close::before, [type="submit"].btn-close::before, [type="reset"].btn-close::before, [type="button"].btn-close::before {
  background-color: var(--cirrus-bg);
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 2px;
  width: 50%;
}

.btn.btn-close::after, button.btn-close::after, [type="submit"].btn-close::after, [type="reset"].btn-close::after, [type="button"].btn-close::after {
  background-color: var(--cirrus-bg);
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  height: 50%;
  width: 2px;
}

.btn.btn-transparent, button.btn-transparent, [type="submit"].btn-transparent, [type="reset"].btn-transparent, [type="button"].btn-transparent {
  --btn-color: transparent;
  --btn-fg: var(--cirrus-dark);
  --btn-border-color: transparent;
}

.btn.btn-transparent:focus, button.btn-transparent:focus, [type="submit"].btn-transparent:focus, [type="reset"].btn-transparent:focus, [type="button"].btn-transparent:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 249, 252, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(246, 249, 252, 0.5);
}

.btn.btn-transparent:hover, button.btn-transparent:hover, [type="submit"].btn-transparent:hover, [type="reset"].btn-transparent:hover, [type="button"].btn-transparent:hover {
  --btn-color: rgba(0, 0, 0, 0.1);
}

.btn.btn-transparent.outline, button.btn-transparent.outline, [type="submit"].btn-transparent.outline, [type="reset"].btn-transparent.outline, [type="button"].btn-transparent.outline {
  --btn-fg: var(--cirrus-dark);
}

.btn.btn-light, button.btn-light, [type="submit"].btn-light, [type="reset"].btn-light, [type="button"].btn-light {
  --btn-color: var(--cirrus-light);
  --btn-fg: var(--cirrus-dark);
  --btn-border-color: var(--cirrus-light);
}

.btn.btn-light:hover, button.btn-light:hover, [type="submit"].btn-light:hover, [type="reset"].btn-light:hover, [type="button"].btn-light:hover {
  --btn-color: var(--cirrus-light-hover);
}

.btn.btn-light:focus, button.btn-light:focus, [type="submit"].btn-light:focus, [type="reset"].btn-light:focus, [type="button"].btn-light:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(246, 249, 252, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(246, 249, 252, 0.5);
}

.btn.btn-dark, button.btn-dark, [type="submit"].btn-dark, [type="reset"].btn-dark, [type="button"].btn-dark {
  --btn-color: var(--cirrus-dark);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-dark);
}

.btn.btn-dark:focus, button.btn-dark:focus, [type="submit"].btn-dark:focus, [type="reset"].btn-dark:focus, [type="button"].btn-dark:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.5);
}

.btn.btn-dark:hover, button.btn-dark:hover, [type="submit"].btn-dark:hover, [type="reset"].btn-dark:hover, [type="button"].btn-dark:hover {
  --btn-color: var(--cirrus-dark-hover);
}

.btn.btn-dark.outline:hover, button.btn-dark.outline:hover, [type="submit"].btn-dark.outline:hover, [type="reset"].btn-dark.outline:hover, [type="button"].btn-dark.outline:hover {
  --btn-color: var(--cirrus-dark);
}

.btn.btn-black, button.btn-black, [type="submit"].btn-black, [type="reset"].btn-black, [type="button"].btn-black {
  --btn-color: #000;
  --btn-fg: var(--cirrus-light);
  --btn-border-color: #000;
}

.btn.btn-black:focus, button.btn-black:focus, [type="submit"].btn-black:focus, [type="reset"].btn-black:focus, [type="button"].btn-black:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.5);
}

.btn.btn-black:hover, button.btn-black:hover, [type="submit"].btn-black:hover, [type="reset"].btn-black:hover, [type="button"].btn-black:hover {
  --btn-color: #000;
}

.btn.btn-primary, button.btn-primary, [type="submit"].btn-primary, [type="reset"].btn-primary, [type="button"].btn-primary {
  --btn-color: var(--cirrus-primary);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-accent-border);
}

.btn.btn-primary:focus, button.btn-primary:focus, [type="submit"].btn-primary:focus, [type="reset"].btn-primary:focus, [type="button"].btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.5);
}

.btn.btn-primary:hover, button.btn-primary:hover, [type="submit"].btn-primary:hover, [type="reset"].btn-primary:hover, [type="button"].btn-primary:hover {
  --btn-color: var(--cirrus-accent-hover);
}

.btn.btn-primary.outline:hover, button.btn-primary.outline:hover, [type="submit"].btn-primary.outline:hover, [type="reset"].btn-primary.outline:hover, [type="button"].btn-primary.outline:hover {
  --btn-color: var(--cirrus-primary);
}

.btn.btn-info, button.btn-info, [type="submit"].btn-info, [type="reset"].btn-info, [type="button"].btn-info {
  --btn-color: var(--cirrus-info);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-info);
}

.btn.btn-info:focus, button.btn-info:focus, [type="submit"].btn-info:focus, [type="reset"].btn-info:focus, [type="button"].btn-info:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.5);
}

.btn.btn-info:hover, button.btn-info:hover, [type="submit"].btn-info:hover, [type="reset"].btn-info:hover, [type="button"].btn-info:hover {
  --btn-color: var(--cirrus-info-hover);
}

.btn.btn-info.outline:hover, button.btn-info.outline:hover, [type="submit"].btn-info.outline:hover, [type="reset"].btn-info.outline:hover, [type="button"].btn-info.outline:hover {
  --btn-color: var(--cirrus-info);
}

.btn.btn-link, button.btn-link, [type="submit"].btn-link, [type="reset"].btn-link, [type="button"].btn-link {
  --btn-color: var(--cirrus-link);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-link);
}

.btn.btn-link:focus, button.btn-link:focus, [type="submit"].btn-link:focus, [type="reset"].btn-link:focus, [type="button"].btn-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.5);
}

.btn.btn-link:hover, button.btn-link:hover, [type="submit"].btn-link:hover, [type="reset"].btn-link:hover, [type="button"].btn-link:hover {
  --btn-color: var(--cirrus-link-dark);
}

.btn.btn-link.outline, button.btn-link.outline, [type="submit"].btn-link.outline, [type="reset"].btn-link.outline, [type="button"].btn-link.outline {
  --btn-fg: var(--cirrus-link);
  border: 1px solid transparent;
}

.btn.btn-link.outline:hover, button.btn-link.outline:hover, [type="submit"].btn-link.outline:hover, [type="reset"].btn-link.outline:hover, [type="button"].btn-link.outline:hover {
  --btn-color: var(--cirrus-link-hover);
  border: 1px solid transparent;
  text-decoration: underline;
}

.btn.btn-success, button.btn-success, [type="submit"].btn-success, [type="reset"].btn-success, [type="button"].btn-success {
  --btn-color: var(--cirrus-success);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-success);
}

.btn.btn-success:focus, button.btn-success:focus, [type="submit"].btn-success:focus, [type="reset"].btn-success:focus, [type="button"].btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.5);
}

.btn.btn-success:hover, button.btn-success:hover, [type="submit"].btn-success:hover, [type="reset"].btn-success:hover, [type="button"].btn-success:hover {
  --btn-color: var(--cirrus-success-hover);
}

.btn.btn-success.outline:hover, button.btn-success.outline:hover, [type="submit"].btn-success.outline:hover, [type="reset"].btn-success.outline:hover, [type="button"].btn-success.outline:hover {
  --btn-color: var(--cirrus-success);
}

.btn.btn-warning, button.btn-warning, [type="submit"].btn-warning, [type="reset"].btn-warning, [type="button"].btn-warning {
  --btn-color: var(--cirrus-warning);
  --btn-fg: var(--cirrus-dark);
  --btn-border-color: var(--cirrus-warning);
}

.btn.btn-warning:focus, button.btn-warning:focus, [type="submit"].btn-warning:focus, [type="reset"].btn-warning:focus, [type="button"].btn-warning:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.5);
}

.btn.btn-warning:hover, button.btn-warning:hover, [type="submit"].btn-warning:hover, [type="reset"].btn-warning:hover, [type="button"].btn-warning:hover {
  --btn-color: var(--cirrus-warning-hover);
}

.btn.btn-warning.outline:hover, button.btn-warning.outline:hover, [type="submit"].btn-warning.outline:hover, [type="reset"].btn-warning.outline:hover, [type="button"].btn-warning.outline:hover {
  --btn-color: var(--cirrus-warning);
}

.btn.btn-danger, button.btn-danger, [type="submit"].btn-danger, [type="reset"].btn-danger, [type="button"].btn-danger {
  --btn-color: var(--cirrus-danger);
  --btn-fg: var(--cirrus-light);
  --btn-border-color: var(--cirrus-danger);
}

.btn.btn-danger:focus, button.btn-danger:focus, [type="submit"].btn-danger:focus, [type="reset"].btn-danger:focus, [type="button"].btn-danger:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.5);
}

.btn.btn-danger:hover, button.btn-danger:hover, [type="submit"].btn-danger:hover, [type="reset"].btn-danger:hover, [type="button"].btn-danger:hover {
  --btn-color: var(--cirrus-danger-hover);
}

.btn.btn-danger.outline:hover, button.btn-danger.outline:hover, [type="submit"].btn-danger.outline:hover, [type="reset"].btn-danger.outline:hover, [type="button"].btn-danger.outline:hover {
  --btn-color: var(--cirrus-danger);
}

.btn.btn-xsmall, button.btn-xsmall, [type="submit"].btn-xsmall, [type="reset"].btn-xsmall, [type="button"].btn-xsmall {
  padding: 0 0.5rem;
  font-size: 50%;
}

.btn.btn-small, button.btn-small, [type="submit"].btn-small, [type="reset"].btn-small, [type="button"].btn-small {
  padding: 0.25rem 1rem;
  font-size: 70%;
}

.btn.btn-large, button.btn-large, [type="submit"].btn-large, [type="reset"].btn-large, [type="button"].btn-large {
  padding: 0.75rem 2rem;
  font-size: 90%;
}

.btn.btn-xlarge, button.btn-xlarge, [type="submit"].btn-xlarge, [type="reset"].btn-xlarge, [type="button"].btn-xlarge {
  padding: 1rem 2.5rem;
  font-size: 110%;
}

.btn.btn-success, button.btn-success, [type="submit"].btn-success, [type="reset"].btn-success, [type="button"].btn-success {
  border-color: var(--cirrus-success);
}

.btn.btn-success:focus, button.btn-success:focus, [type="submit"].btn-success:focus, [type="reset"].btn-success:focus, [type="button"].btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

.btn.btn-error, button.btn-error, [type="submit"].btn-error, [type="reset"].btn-error, [type="button"].btn-error {
  border-color: var(--cirrus-danger);
}

.btn.btn-error:focus, button.btn-error:focus, [type="submit"].btn-error:focus, [type="reset"].btn-error:focus, [type="button"].btn-error:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
}

.btn .fa-wrapper.pad-right, button .fa-wrapper.pad-right, [type="submit"] .fa-wrapper.pad-right, [type="reset"] .fa-wrapper.pad-right, [type="button"] .fa-wrapper.pad-right {
  margin-right: 0.4rem;
}

.btn .fa-wrapper.pad-left, button .fa-wrapper.pad-left, [type="submit"] .fa-wrapper.pad-left, [type="reset"] .fa-wrapper.pad-left, [type="button"] .fa-wrapper.pad-left {
  margin-left: 0.4rem;
}

.btn span:first-child, button span:first-child, [type="submit"] span:first-child, [type="reset"] span:first-child, [type="button"] span:first-child {
  margin-right: 0.2rem;
}

.btn span:last-child, button span:last-child, [type="submit"] span:last-child, [type="reset"] span:last-child, [type="button"] span:last-child {
  margin-left: 0.2rem;
}

/* Deprecated 0.5.6, use m-1 instead */
[class^='btn-']:not(.btn-container):not(.btn-close),
[class*=' btn-']:not(.btn-container):not(.btn-close) {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-border-color);
  color: var(--btn-fg);
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
  /* Outline Variants */
}

[class^='btn-']:not(.btn-container):not(.btn-close):hover,
[class*=' btn-']:not(.btn-container):not(.btn-close):hover {
  background-color: var(--btn-color);
  border-color: var(--btn-border-color);
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
}

[class^='btn-']:not(.btn-container):not(.btn-close).outline,
[class*=' btn-']:not(.btn-container):not(.btn-close).outline {
  background-color: transparent;
  color: var(--btn-color);
}

[class^='btn-']:not(.btn-container):not(.btn-close).outline:hover,
[class*=' btn-']:not(.btn-container):not(.btn-close).outline:hover {
  background-color: var(--btn-color);
  color: var(--btn-fg);
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
}

[class^='btn-']:not(.btn-container):not(.btn-close).outline.btn-transparent,
[class*=' btn-']:not(.btn-container):not(.btn-close).outline.btn-transparent {
  color: #495057 !important;
}

/* Make the loader white so it is visible */
.loading.btn-accent:after {
  border: 2px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
}

/* BUTTON GROUPS */
/* Will group buttons with components in a single component */
.btn-group {
  /* -ms-flex-wrap: wrap; Deprecated 0.5.6, allow for overflow
    flex-wrap: wrap; Wrap contents to next row on overflow */
  display: -webkit-inline-box;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
}

.btn-group .btn {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  margin: 0;
}

.btn-group .btn:first-child:not(:last-child) {
  /* Style the first child in group > 1 buttons */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:last-child:not(:first-child) {
  /* Style the last child in group > 1 buttons */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group .btn:not(:first-child):not(:last-child) {
  /* Style button in middle of group */
  border-radius: 0;
  /* Remove roundness from center buttons */
  margin-left: -0.1rem;
}

.btn-group button {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  margin: 0;
}

.btn-group button:first-child:not(:last-child) {
  /* Style the first child in group > 1 buttons */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group button:last-child:not(:first-child) {
  /* Style the last child in group > 1 buttons */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group button:not(:first-child):not(:last-child) {
  /* Style button in middle of group */
  border-radius: 0;
  /* Remove roundness from center buttons */
  margin-left: -0.1rem;
}

.btn-group [type="submit"] {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  margin: 0;
}

.btn-group [type="submit"]:first-child:not(:last-child) {
  /* Style the first child in group > 1 buttons */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group [type="submit"]:last-child:not(:first-child) {
  /* Style the last child in group > 1 buttons */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group [type="submit"]:not(:first-child):not(:last-child) {
  /* Style button in middle of group */
  border-radius: 0;
  /* Remove roundness from center buttons */
  margin-left: -0.1rem;
}

.btn-group.btn-group-fill {
  /* Makes the button group fill the width and proportion the buttons to fill the space */
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
}

.btn-group.btn-group-fill .btn {
  -ms-flex: 1 0;
  -webkit-box-flex: 1;
  flex: 1 0;
  /* Make the buttons fill the available width and proportion themselves */
}

.btn-group.btn-group-fill button {
  -ms-flex: 1 0;
  -webkit-box-flex: 1;
  flex: 1 0;
  /* Make the buttons fill the available width and proportion themselves */
}

.btn-group.btn-group-fill [type="submit"] {
  -ms-flex: 1 0;
  -webkit-box-flex: 1;
  flex: 1 0;
  /* Make the buttons fill the available width and proportion themselves */
}

@media screen and (max-width: 768px) {
  .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-group .btn {
    margin-bottom: -1px;
  }
  .btn-group .btn:first-child:not(:last-child) {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .btn-group .btn:not(:first-child):not(:last-child) {
    margin-left: 0;
  }
  .btn-group .btn:last-child:not(:first-child) {
    border-radius: 0 0 0.25rem 0.25rem;
    margin-left: 0;
  }
  .btn-group button {
    margin-bottom: -1px;
  }
  .btn-group button:first-child:not(:last-child) {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .btn-group button:not(:first-child):not(:last-child) {
    margin-left: 0;
  }
  .btn-group button:last-child:not(:first-child) {
    border-radius: 0 0 0.25rem 0.25rem;
    margin-left: 0;
  }
  .btn-group [type="submit"] {
    margin-bottom: -1px;
  }
  .btn-group [type="submit"]:first-child:not(:last-child) {
    border-radius: 0.25rem 0.25rem 0 0;
  }
  .btn-group [type="submit"]:not(:first-child):not(:last-child) {
    margin-left: 0;
  }
  .btn-group [type="submit"]:last-child:not(:first-child) {
    border-radius: 0 0 0.25rem 0.25rem;
    margin-left: 0;
  }
}

/* UTILS */
/* Utility classes to help solve some very annoying issues */
.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-text-justify {
  text-align: justify !important;
}

.u-text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.u-text-break {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}

.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

/* Center element - best used for hero bodies or text */
.u-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-center-alt,
.u-center-alt:hover,
.u-center-alt:active {
  /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.u-hide-overflow {
  overflow: hidden !important;
}

.u-overflow-auto {
  overflow: auto !important;
}

.u-disabled {
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.u-unselectable {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
      user-select: none !important;
}

/* Round the corners of the element */
.u-round {
  border-radius: 0.25rem !important;
}

/* Turns element into a circle */
.u-circle {
  border-radius: 50% !important;
}

.u-no-outline {
  outline: 0px !important;
}

.u-shadow {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/* The base of the modal dialog, which is an overlay of the webpage */
.modal {
  position: fixed;
  /* Scrolls with the user */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* Initially hidden */
  padding: 1rem;
  display: none;
  /* Doesn't block the elements underneath */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Vertical centering */
  pointer-events: none;
  /* Prevent any pointer events made to modal while hidden */
  /* When the modal dialog is visible */
  /* Different size modals */
  /* The modal dialog body with the text itself */
  /* MODAL ANIMATIONS */
  /* Visible state */
}

.modal:target, .modal.shown, .modal.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 999;
  pointer-events: auto;
  /* Re-enable pointer events */
  /* The div in the modal dialpog used to create the translucent background */
}

.modal:target .modal-overlay, .modal.shown .modal-overlay, .modal.is-active .modal-overlay {
  position: absolute;
  /* Absolute inside of the modal container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(54, 54, 54, 0.5);
}

.modal:target .modal-container,
.modal:target .modal-container, .modal.shown .modal-container,
.modal.shown .modal-container, .modal.is-active .modal-container,
.modal.is-active .modal-container {
  -webkit-animation: slide-down var(--animation-duration) ease 1;
  animation: slide-down var(--animation-duration) ease 1;
  z-index: 1;
}

.modal.modal-small .modal-content {
  max-width: 20rem;
  /* 320px */
}

.modal.modal-large .modal-content {
  max-width: 60rem;
  /* 960px */
}

.modal .modal-content {
  background-color: var(--cirrus-bg);
  padding: 0;
  display: block;
  border-radius: 3px;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(54, 54, 54, 0.3);
          box-shadow: 0 0.4rem 1rem rgba(54, 54, 54, 0.3);
  z-index: 1;
  color: var(--cirrus-fg);
  max-width: 40rem;
  /* 640px */
  /* Restrict width  */
}

.modal .modal-content.small {
  max-width: 32rem;
}

.modal .modal-content h1,
.modal .modal-content h2,
.modal .modal-content h3,
.modal .modal-content h4,
.modal .modal-content h5,
.modal .modal-content h6 {
  color: var(--cirrus-fg);
}

.modal .modal-content .modal-header {
  padding: 1rem 2.5rem;
}

.modal .modal-content .modal-header .modal-title {
  font-weight: bolder;
  font-size: 1.4rem;
}

.modal .modal-content .modal-body {
  padding: 1rem 2.5rem;
  overflow-y: auto;
  max-height: 50vh;
  /* Max height is 50% of viewport height which prevents dialog from extetnding past screen */
  position: relative;
}

.modal .modal-content .modal-footer {
  padding: 1rem 2.5rem;
}

@media screen and (max-width: 767px) {
  .modal .modal-content {
    max-width: 90%;
  }
}

.modal.modal-animated--dropdown {
  -webkit-animation: slide-down var(--animation-duration) ease 1;
  animation: slide-down var(--animation-duration) ease 1;
}

.modal.modal-animated--zoom-in, .modal.modal-animated--zoom-out {
  display: -webkit-box;
  /* Force dialog to appear in the center */
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal:target.modal-animated--zoom-in, .modal:target.modal-animated--zoom-out {
  opacity: 1;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal.modal-animated--zoom-in .modal-content {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal:target.modal-animated--zoom-in .modal-content,
.modal:target.modal-animated--zoom-out .modal-content {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

.modal.modal-animated--zoom-out .modal-content {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
}

/* Keyframes for slide down animation */
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .modal-content {
    max-width: 90%;
  }
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* Spacing */
/* Fonts */
/* Grid Count */
/* Grid Percents */
/* Tab Sizes */
/* Media Queries */
/* Smaller than the defined pixels are the dimensions for that range */
/* Color scheme for Cirrus */
/* v2 Colors */
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #f03d4d;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #ffdadd;
  --cirrus-accent-hover: #d62939;
  --cirrus-accent-border: #c21b2b;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem;
}

/*
  Functions
*/
/*
    Converts a given hex value to RGB.
*/
/* EXTENDED FORM */
/* Mixins */
/* Base class layout for extended form */
.form-ext-control {
  padding-left: 1.5rem;
  position: relative;
  /* Checkbox */
  /* Radio Button */
  /* Hides the original input */
  /* Toggle Switches */
}

.form-ext-control.form-ext-checkbox .form-ext-input:checked ~ .form-ext-label:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.form-ext-control.form-ext-checkbox .form-ext-label:before {
  border-radius: 0.25rem;
}

.form-ext-control.form-ext-radio .form-ext-input:checked ~ .form-ext-label:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.form-ext-control.form-ext-radio .form-ext-label:before {
  border-radius: 50%;
}

.form-ext-control .form-ext-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  /* Checked state */
}

.form-ext-control .form-ext-input:disabled ~ .form-ext-label {
  opacity: 0.4;
}

.form-ext-control .form-ext-input:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-primary);
}

.form-ext-control .form-ext-input.form-ext-input--primary:checked ~ .form-ext-label {
  color: var(--cirrus-primary);
}

.form-ext-control .form-ext-input.form-ext-input--primary:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-primary);
}

.form-ext-control .form-ext-input.form-ext-input--primary:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--gray:checked ~ .form-ext-label {
  color: var(--cirrus-gray);
}

.form-ext-control .form-ext-input.form-ext-input--gray:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-gray);
}

.form-ext-control .form-ext-input.form-ext-input--gray:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--dark:checked ~ .form-ext-label {
  color: var(--cirrus-dark);
}

.form-ext-control .form-ext-input.form-ext-input--dark:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-dark);
}

.form-ext-control .form-ext-input.form-ext-input--dark:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--link:checked ~ .form-ext-label {
  color: var(--cirrus-link);
}

.form-ext-control .form-ext-input.form-ext-input--link:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-link);
}

.form-ext-control .form-ext-input.form-ext-input--link:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--info:checked ~ .form-ext-label {
  color: var(--cirrus-info);
}

.form-ext-control .form-ext-input.form-ext-input--info:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-info);
}

.form-ext-control .form-ext-input.form-ext-input--info:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--success:checked ~ .form-ext-label {
  color: var(--cirrus-success);
}

.form-ext-control .form-ext-input.form-ext-input--success:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-success);
}

.form-ext-control .form-ext-input.form-ext-input--success:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--warning:checked ~ .form-ext-label {
  color: var(--cirrus-warning);
}

.form-ext-control .form-ext-input.form-ext-input--warning:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-warning);
}

.form-ext-control .form-ext-input.form-ext-input--warning:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input.form-ext-input--danger:checked ~ .form-ext-label {
  color: var(--cirrus-danger);
}

.form-ext-control .form-ext-input.form-ext-input--danger:checked ~ .form-ext-label:before {
  background-color: var(--cirrus-danger);
}

.form-ext-control .form-ext-input.form-ext-input--danger:focus ~ .form-ext-label:before {
  border-color: inherit;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-input:disabled ~ .form-ext-toggle__toggler {
  opacity: 0.5;
}

.form-ext-control .form-ext-toggle__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-ext-control .form-ext-toggle {
  cursor: pointer;
  position: relative;
  /* Toggle themes */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
  /**
             * Accessibility
             */
}

.form-ext-control .form-ext-toggle input[type='checkbox'],
.form-ext-control .form-ext-toggle input[type='radio'] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.form-ext-control .form-ext-toggle .form-ext-toggle__toggler {
  border: 1px solid var(--cirrus-gray);
  border-radius: 6.25rem;
  color: var(--cirrus-gray);
  display: block;
  font-size: 9px;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.form-ext-control .form-ext-toggle .form-ext-toggle__toggler i {
  display: inline-block;
}

.form-ext-control .form-ext-toggle input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-primary);
  border-color: var(--cirrus-primary);
  color: #fff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-ext-control .form-ext-toggle input[type='checkbox']:checked + .form-ext-toggle__toggler i::after,
.form-ext-control .form-ext-toggle input[type='checkbox']:checked + * .form-ext-toggle__toggler i::after,
.form-ext-control .form-ext-toggle input[type='radio']:checked + .form-ext-toggle__toggler i::after,
.form-ext-control .form-ext-toggle input[type='radio']:checked + * .form-ext-toggle__toggler i::after {
  background-color: #fff;
  left: calc(100% - 20px);
}

.form-ext-control .form-ext-toggle input[type='checkbox']:checked + .form-ext-toggle__toggler i::before,
.form-ext-control .form-ext-toggle input[type='checkbox']:checked + * .form-ext-toggle__toggler i::before,
.form-ext-control .form-ext-toggle input[type='radio']:checked + .form-ext-toggle__toggler i::before,
.form-ext-control .form-ext-toggle input[type='radio']:checked + * .form-ext-toggle__toggler i::before {
  color: #fff;
  content: attr(data-check-icon);
  text-align: left;
}

.form-ext-control .form-ext-toggle.form-ext-toggle--primary input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--primary input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--primary input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--primary input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-primary);
  border-color: var(--cirrus-primary);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--primary .form-ext-toggle__toggler {
  border-color: var(--cirrus-primary);
  color: var(--cirrus-primary);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--primary .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-primary);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--primary .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(240, 61, 77, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--gray input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--gray input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--gray input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--gray input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-gray);
  border-color: var(--cirrus-gray);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--gray .form-ext-toggle__toggler {
  border-color: var(--cirrus-gray);
  color: var(--cirrus-gray);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--gray .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-gray);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--gray .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(213, 215, 220, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--dark input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--dark input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--dark input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--dark input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-dark);
  border-color: var(--cirrus-dark);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--dark .form-ext-toggle__toggler {
  border-color: var(--cirrus-dark);
  color: var(--cirrus-dark);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--dark .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-dark);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--dark .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(54, 54, 54, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--link input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--link input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--link input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--link input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-link);
  border-color: var(--cirrus-link);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--link .form-ext-toggle__toggler {
  border-color: var(--cirrus-link);
  color: var(--cirrus-link);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--link .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-link);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--link .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(94, 92, 199, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--info input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--info input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--info input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--info input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-info);
  border-color: var(--cirrus-info);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--info .form-ext-toggle__toggler {
  border-color: var(--cirrus-info);
  color: var(--cirrus-info);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--info .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-info);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--info .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(41, 114, 250, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--success input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--success input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--success input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--success input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-success);
  border-color: var(--cirrus-success);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--success .form-ext-toggle__toggler {
  border-color: var(--cirrus-success);
  color: var(--cirrus-success);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--success .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-success);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--success .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(13, 209, 87, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--warning input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--warning input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--warning input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--warning input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-warning);
  border-color: var(--cirrus-warning);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--warning .form-ext-toggle__toggler {
  border-color: var(--cirrus-warning);
  color: var(--cirrus-warning);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--warning .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-warning);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--warning .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(250, 182, 51, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--danger input[type='checkbox']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--danger input[type='checkbox']:checked + * .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--danger input[type='radio']:checked + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle.form-ext-toggle--danger input[type='radio']:checked + * .form-ext-toggle__toggler {
  background-color: var(--cirrus-danger);
  border-color: var(--cirrus-danger);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--danger .form-ext-toggle__toggler {
  border-color: var(--cirrus-danger);
  color: var(--cirrus-danger);
}

.form-ext-control .form-ext-toggle .form-ext-toggle--danger .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-danger);
}

.form-ext-control .form-ext-toggle .form-ext-input:focus + .form-ext-toggle__toggler,
.form-ext-control .form-ext-toggle .form-ext-input:focus ~ .form-ext-label:before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle.form-ext-toggle--danger .form-ext-input:focus + .form-ext-toggle__toggler {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 0 0.2rem rgba(251, 65, 67, 0.55), inset 0 1px 8px rgba(0, 0, 0, 0.07);
}

.form-ext-control .form-ext-toggle .form-ext-toggle__toggler i::before,
.form-ext-control .form-ext-toggle .form-ext-toggle__toggler i::after {
  content: '';
  display: block;
  position: absolute;
}

.form-ext-control .form-ext-toggle .form-ext-toggle__toggler i::before {
  content: attr(data-uncheck-icon);
  padding: 2px 7px;
  line-height: 18px;
  text-align: right;
  top: 0;
  width: 65%;
  font-size: 12px;
}

.form-ext-control .form-ext-toggle .form-ext-toggle__toggler i::after {
  background-color: var(--cirrus-gray);
  border-radius: 50%;
  height: 16px;
  left: 4px;
  width: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left var(--animation-duration) ease;
  transition: left var(--animation-duration) ease;
  text-align: left;
}

.form-ext-control .form-ext-label {
  margin-bottom: 0;
  position: relative;
  /* Base of custom form inputs */
}

.form-ext-control .form-ext-label:before, .form-ext-control .form-ext-label:after {
  content: '';
  display: block;
  height: 1rem;
  left: -1.5rem;
  position: absolute;
  top: 0.3rem;
  -webkit-transition: all var(--animation-duration);
  transition: all var(--animation-duration);
  width: 1rem;
}

.form-ext-control .form-ext-label:before {
  background-color: var(--cirrus-light);
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-ext-control .form-ext-label:after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}

.form-ext-control .form-ext-input:checked ~ .form-ext-label:before {
  border: none;
}
/*# sourceMappingURL=library.css.map */