@import "bulma/utilities/_mixins.scss";

$fifa-gold: #d6b563;
$fifa-black: #1a1a18;

$color-gray-01: #1d1d1b;
$color-gray-02: #3c3c3c;
$color-gray-03: #ece4d7;
$color-gold: #b9a157;

:root {
  --base-color: #8a1539;
  --base-text-color: white;
  --base-font-family: Open Sans, Arial;
  --base-corp-font-thin: "Qatar2022-Book";
  --base-corp-font-medium: "Qatar2022-Medium";
  --base-corp-font-bold: "Qatar2022-Bold";
  --base-font-size: 14px;
  --base-color-active-things: #ca9ba940;
  --base-color-hover-things: #8a153912;
  --base-color-secondary: #baa256;
}

body {
  font-family: var(--base-corp-font-medium), "Roboto", Arial, Helvetica,
    sans-serif;
}

/* ******* */

/* ******* */

h1 {
  font-size: 3.5rem;
  @include mobile {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 3rem;
  @include mobile {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.8rem;
  @include mobile {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.4rem;
  @include mobile {
    font-size: 1rem;
  }
}
p {
  font-size: 1.2rem;
  font-family: var(--base-corp-font-thin), "Roboto", Arial, Helvetica,
    sans-serif;

  @include mobile {
    font-size: 0.8rem;
  }
}

a {
  color: $fifa-gold;
  &:hover {
    color: var(--base-color);
  }
}

.has-text-gold {
  color: $fifa-gold;
}

.btn {
  display: inline-block;
  background: url("../icon/button-white.png");
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  width: 210px;
  margin-top: 2rem;
  &.gold {
    background:url("../icon/button-gold.png");
    width: 270px;
    color: $fifa-gold;
    &:hover {
      color:white;
    }
  }
}

.is-nowrap {
  @include tablet {
    white-space: nowrap;
  }
}

a.btn {
  color: black;
}
a.btn:hover {
  color: var(--base-color-secondary);
}

img.separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-black {
  background-color: $fifa-black;
}

.bg-gold {
  background-color: $fifa-gold;
}

/* ********************* 

NAV

********************* */

#main-nav {
  .navbar-menu {
    .navbar-start {
      @include tablet {
        justify-content: center;
        margin-left: auto;
        a.navbar-item {
          padding: 0 4em;
          text-decoration: white solid underline;
          text-underline-offset: 0.7rem;
          &:hover {
            color: $fifa-gold !important;
            text-decoration: $fifa-gold solid underline;
          }
        }
       
      }
    }
  }
}

/* ******* 

BANNER



** **** */
section.banner-image {
  padding: 10%;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), var(--image-url) center center;
  background-size: cover;

  position: relative;

  @include mobile {
    padding: 7rem 2rem 5rem;
  }

  article {
    max-width: 70rem;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  h3 {
    color: var(--base-color-secondary);
  }
  &.top {
    padding: 17rem 2rem 15rem;
  }

  .copy {
    color: #eee;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 20px 5px 5px;
    width: 100%;
    text-align: right;
    font-size: 0.7em;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
  }



}

.banner-container {
  text-align: center;
  p {
    @include mobile {
      font-size: 1.2rem;
    }
  }

  .banner-image {
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @include mobile {
      min-height: 250px;
    }

    .copy {
      color: #eee;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding: 20px 5px 5px;
      width: 100%;
      text-align: right;
      font-size: 0.7em;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 50%, rgba(0,0,0,0) 100%);
    }
  }

  .banner-text {
    position: relative;
    padding: 6rem 3.5rem;

    @include mobile {
      padding: 2rem;

    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 50px;
      width: 50px;
      background-color: white;
      border: white solid 10px;
      top: 50%;
      left: -25px;
      transform: translate(0, -25px) rotate(45deg);
      @include mobile {
        display: none;
      }
    }

    &.series {
      padding: 3rem 5rem !important;
      background-color: $color-gray-01;
      color:white;
      &::after {
        background-color: $fifa-gold;
        border: $color-gray-01 solid 10px;
      }
    }
    &.pearl {
      background-color: white;
      color: black;
      &::after {
        background-color: $fifa-gold;
        border: white solid 10px;
      }
    }
    &.private {
      background-color: $color-gray-03;
      color: black;
      &::after {
        background-color: $fifa-gold;
        border: $color-gray-03 solid 10px;
      }
    }
    &.business {
      background-color: white;
      color: black;
      &::after {
        background-color: $fifa-gold;
        border: white solid 10px;
      }
    }
    &.pavilion {
      background-color: $color-gray-03;
      color: black;
      &::after {
        background-color: $fifa-gold;
        border: $color-gray-03 solid 10px;
      }
    }
    &.club {
      background-color: white;
      color: black;
      &::after {
        background-color: $fifa-gold;
        border: white solid 10px;
      }
    }
  }

  &.product {
    .banner-image {
      @include tablet {
        width:45%;
        flex: none;
      }
      @include widescreen {
      }
    }
    .banner-text {
      @include tablet {
        width: 55%;
        padding: 3rem 2rem 3rem 0rem;
        flex: none;
      }
      @include widescreen {
      }
    }
  }

  &.series {
    .banner-image {
      @include tablet {
        width:55%;
        flex: none;
      }
      @include widescreen {
      }
    }
    .banner-text {
      @include tablet {
        width: 45%;
        padding: 3rem 2rem 3rem 0rem;
        flex: none;
      }
      @include widescreen {
      }
    }
  }

  .stadium-icon {
    margin-top: 2rem;
    display: flex;
    .img {
      margin-right: 1rem;
      width: 250px;
      flex-shrink: 0;
      img {
        max-height: 240px;
      }

    }
    .text {
      text-align: left;
      font-size: 1rem;
    }
    .small {
      font-size: .8em;
      margin-top: 1em;
    }
    @include mobile {
      display: block;
      .img {
        float: none;
        margin-right: auto;
        margin-left:auto;
      }
      .text {
        text-align: justify;
        padding-right: 0;
        font-size: 1rem;
      }

    }
  }

  &.is-reversed {
    flex-direction: row-reverse;
    .banner-text::after {
      left: unset;
      right: -25px;
    }
  }
}



.banner-image.series {
  .columns {
    img {
      padding: 1em;
      @include tablet {
        padding: 3rem;
      }
    }
  }
}

.banner-text.series {
  img.small {
    max-width: 120px;;
  }
}



section.c-gallery {
  .gallery {
    img {
      padding: 1rem;
      @include tablet {
        padding: 1rem;
      }
    }
  }
}


.banner-cta {
  text-align: center;
  padding: 2rem;
  @include tablet {
    padding: 2rem 7rem;
  }
  .btn {
    margin-top: 0rem;
  }
}

footer {
  margin-bottom: 0 !important;
  .column {
    margin-bottom: 2rem;
  }

  p {
    font-size: 0.8rem;
  }
  h4 {
    font-size: 1rem;
    color: $fifa-gold;
  }

  .main-footer {
    padding-top: 4rem;
    .logo img {
      text-align: center;
      display: block;
      margin: auto;
    }
  }

  .footer-note {
    border-top: 10px solid $fifa-gold;
    text-align: center;
    margin-bottom: 0;
  }
}

.banner-bms {

  

  .wrap {

    img {
      width: 100%;

      display:block
    }
  }
}


#contactForm {
  background-color: $fifa-black;
  color:white;

  padding-top: 2rem;
  padding-bottom: 5rem;


  font-family: var(--base-corp-font-thin), "Roboto", Arial, Helvetica,
    sans-serif;

  font-size: 1em;
  line-height: 1.5;

  .columns {
    max-width: 70rem;
    margin: auto;
  }

  label {
    display: inline-block;
    padding-top: 1em;
    padding-bottom: .5em;
  }

  .text {
      border: solid 1px $color-gold;
      width: 80%;
      max-width: 800px;
      line-height: 2em;
      font-size: 1em;
      padding:0 .5em;
    }
  textarea {
      min-height: 200px;
  }

  .submit {
    margin-top: .5em;
    padding-top:.3em;
    padding-bottom: .3em;
    background-color: $color-gold;
    color: white;
    font-size: 1.5em;
    width: 8em;
    font-family: var(--base-corp-font-medium), "Roboto", Arial, Helvetica,
    sans-serif;

  }
      



}